@model CommonLayer.Model.AppointmentModel
@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "CreateAppointment";
}
<link rel="stylesheet" href="~/css/CreateAppointment.css" asp-append-version="true" />

<h1>CreateAppointment</h1>

<h4>AppointmentModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateAppointment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="AppointmentId" class="control-label"></label>
                <input asp-for="AppointmentId" class="form-control" />
                <span asp-validation-for="AppointmentId" class="text-danger"></span>
            </div> *@
            <div class="form-group mt-4">
                @* <label asp-for="Doctor_Id" class="control-label"></label> *@
                <input asp-for="Doctor_Id" class="form-control" placeholder="Doctor_Id" value=@Context.Session.GetInt32("Doctor_Id") readonly />
                <span asp-validation-for="Doctor_Id" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                @* <label asp-for="PatientId" class="control-label"></label> *@
                <input asp-for="PatientId" class="form-control" placeholder="PatientId" value=@Context.Session.GetInt32("PatientId") readonly />
                <span asp-validation-for="PatientId" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                @* <label asp-for="AppointmentDate" class="control-label"></label> *@
                <input asp-for="AppointmentDate" type="date" placeholder="AppointmentDate" class="form-control" />
                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                 <label asp-for="StartTime" class="control-label"></label> 
                <input asp-for="StartTime" type="time" placeholder="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                 <label asp-for="EndTime" class="control-label"></label> 
                <input asp-for="EndTime" type="time" placeholder="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                @* <label asp-for="Concerns" class="control-label"></label> *@
                <input asp-for="Concerns" class="form-control" placeholder="Concerns" />
                <span asp-validation-for="Concerns" class="text-danger"></span>
            </div>
            <div class="form-group mt-4 mb-4" align="center">
                <input type="submit" value="Create" class="btn btn-warning"  />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllAppointments">Back to List</a>
</div>

