@model CommonLayer.Model.LoginModel

@{
    ViewData["Title"] = "LoginPatient";
}
<link rel="stylesheet" href="~/css/LoginPatient.css" asp-append-version="true" />

<h1>LoginPatient</h1>

<h4>LoginModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LoginPatient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-4">
                @* <label asp-for="UserId" class="control-label"></label> *@
                <input asp-for="UserId" placeholder="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                @* <label asp-for="UserName" class="control-label"></label> *@
                <input asp-for="UserName" placeholder="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group mt-4" align="center">
                <input type="submit" value="Submit" class="btn btn-primary" /> 
                <a asp-area="" class="btn btn-primary" asp-controller="Patient" asp-action="RegisterPatient">Register</a>
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllPatients">Back to List</a>
</div>

